@charset "UTF-8";

html {
	background-image: url("pictures/dayforest.jpeg");
}

body {
    /* background-image: url("background.gif"); */
    max-width: 1100px;
    margin: auto;
    /* background-image: url("pictures/fireflies.png"); */
   	/* background-color: lavender */
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.login_icon {
  width: 15%;
  border-radius: 20%;
}

th, td {
  padding: 10px;
  text-align: center;
}

tr:hover {background-color: lightgreen;}

tr.header {
	font-weight: bold;
	color: darkgreen;
}

h2.codrops-demos{
	background-color: #4CAF50;
  color: black;
}

input{
    background: lavender;
    /* float: right;  */ 
}

fieldset{
	max-width: 400px;
    margin: auto;
    text-align:left;
    border: solid #000000;
    /* color: darkgreen; */
    /* font-size: 12px; */
    padding: 12px;  
	
}

input.updatebutton{
  background-color: #804040;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* tr:nth-child(even) {background-color: #f2f2f2;} */